asgiref==3.11.1
attrs==26.1.0
booking==1.0.0
certifi==2026.5.20
charset-normalizer==3.4.7
DateTime==6.0
dj-database-url==3.1.2
Django==5.2.14
django-filter==25.2
django-ratelimit==4.1.0
djangorestframework==3.17.1
drf-spectacular==0.29.0
gunicorn==26.0.0
idna==3.16
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
packaging==26.2
psycopg2-binary==2.9.12
python-decouple==3.8
pytz==2026.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.5.1
sqlparse==0.5.5
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.7.0
whitenoise==6.12.0
zope.interface==8.5
